# 강의에서 다룬 데이터를 DB에 저장

In [2]:
import pandas as pd

In [3]:
joinSellout = pd.read_csv("../dataset/join_kopo_product_volume.csv")

In [4]:
joinMaster = pd.read_csv("../dataset/join_region_master.csv", encoding = "ms949")

In [5]:
row1 = ["A02", "ST0001", 201901 , 2000]
row2 = ["A02", "ST0002", 201902 , 2000]
row3 = ["A02", "ST0003", 201901 , 2000]
row4 = ["A02", "ST0005", 201901 , 2000]

In [6]:
newData = pd.DataFrame( [row1, row2, row3, row4], columns = joinSellout.columns )
newData

  REGIONID PRODUCT  YEARWEEK   QTY
0      A02  ST0001    201901  2000
1      A02  ST0002    201902  2000
2      A02  ST0003    201901  2000
3      A02  ST0005    201901  2000

In [7]:
unionData = joinSellout.append(newData)
unionData = unionData.reset_index(drop=True)
unionData

C:\Users\2an_d\AppData\Local\Temp\ipykernel_13384\1661070306.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unionData = joinSellout.append(newData) # union 개념

  REGIONID PRODUCT  YEARWEEK   QTY
0      A01  ST0001    201901  3000
1      A01  ST0001    201902  3500
2      A02  ST0002    201901  4000
3      A02  ST0003    201902  7000
4      A02  ST0001    201901  2000
5      A02  ST0002    201902  2000
6      A02  ST0003    201901  2000
7      A02  ST0005    201901  2000

In [8]:
row1 = ["A01", "ST0001", 0.3]
row2 = ["A02", "ST0001", 0.5]
row3 = ["A02", "ST0002", 0.5]
row4 = ["A99", "ST0099", 0.9]
promoData = pd.DataFrame([row1, row2, row3, row4], columns=["REGION", "PD", "PROMOTION"])
promoData

  REGION      PD  PROMOTION
0    A01  ST0001        0.3
1    A02  ST0001        0.5
2    A02  ST0002        0.5
3    A99  ST0099        0.9

In [10]:
## 1.메타 데이터베이스 접속 (메타데이터)

import pandas as pd
from sqlalchemy import create_engine,types
id = "scott"
pw = "tiger"
ip = "127.0.0.1"
port = "1521"
dbName = "str"

engine = create_engine('oracle+cx_oracle://{}:{}@{}:{}/{}'.format(id,pw,ip,port,dbName)  )

In [12]:
from sqlalchemy import types

#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(promoData.columns[promoData.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # sawonData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
resultTable = "KOPO_JOIN_PROMODATA" 
promoData.to_sql(name=resultTable, if_exists="replace", con=engine,
               dtype=typeDict, index=False)

C:\Users\2an_d\AppData\Local\Temp\ipykernel_13384\1995137942.py:13: UserWarning: The provided table name 'KOPO_JOIN_PROMODATA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  promoData.to_sql(name=resultTable, if_exists="replace", con=engine,

4

In [13]:
from sqlalchemy import types

#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(unionData.columns[unionData.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # sawonData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
resultTable = "KOPO_JOIN_UNIONDATA" 
unionData.to_sql(name=resultTable, if_exists="replace", con=engine,
               dtype=typeDict, index=False)

C:\Users\2an_d\AppData\Local\Temp\ipykernel_13384\2886184652.py:13: UserWarning: The provided table name 'KOPO_JOIN_UNIONDATA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  unionData.to_sql(name=resultTable, if_exists="replace", con=engine,

8

In [14]:
from sqlalchemy import types

#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(joinMaster.columns[joinMaster.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # sawonData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
resultTable = "KOPO_JOIN_JOINMASTER" 
joinMaster.to_sql(name=resultTable, if_exists="replace", con=engine,
               dtype=typeDict, index=False)

C:\Users\2an_d\AppData\Local\Temp\ipykernel_13384\2304881760.py:13: UserWarning: The provided table name 'KOPO_JOIN_JOINMASTER' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  joinMaster.to_sql(name=resultTable, if_exists="replace", con=engine,

4

In [15]:
from sqlalchemy import types

#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
objectColumns = list(joinSellout.columns[joinSellout.dtypes == 'object'])
typeDict={}
maxLen = 100

for i in range(0, len(objectColumns)):
    # sawonData[i].str.len().max() 최대치 사용할 경우
    typeDict[ objectColumns[i] ] = types.VARCHAR(100)
#### 문자컬럼에 대해서 varchar (100) 적용 _ 사용시 속도 SpeedUp 50배 
resultTable = "KOPO_JOIN_JOINSELLOUT" 
joinSellout.to_sql(name=resultTable, if_exists="replace", con=engine,
               dtype=typeDict, index=False)

C:\Users\2an_d\AppData\Local\Temp\ipykernel_13384\4205860600.py:13: UserWarning: The provided table name 'KOPO_JOIN_JOINSELLOUT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  joinSellout.to_sql(name=resultTable, if_exists="replace", con=engine,

4