# 웹 크롤링 이해 및 기본기 살펴보기

In [1]:
# 행/열 구조의 가장 많이 활용되는 자료구조 형태

In [1]:
# 데이터 프레임 라이브러리 활용
import pandas as pd

In [2]:
# 딕셔너리를 활용한 데이터프레임 생성
data = {'name': ['A고객','B고객','C고객','D고객'],
'age': [27,40,33,29],
'stock_age': [2,10,5,1]}
dataFrame = pd.DataFrame(data)

In [3]:
# 데이터 프레임 : 스프레드시트 형태의 자료구조
print(dataFrame)

  name  age  stock_age
0  A고객   27          2
1  B고객   40         10
2  C고객   33          5
3  D고객   29          1

In [ ]:
# 리스트를 활용한 데이터 분석을 위한 자료구조 생성

In [4]:
import pandas as pd

In [5]:
# 리스트 생성
test = [10, 100, 1000, 10000]

In [6]:
# 데이터프레임 변환
testDf = pd.DataFrame(test)
testDf

       0
0     10
1    100
2   1000
3  10000

In [7]:
testDf.columns = ["test"]
testDf

    test
0     10
1    100
2   1000
3  10000

In [ ]:
# 리스트를 활용한 데이터 분석을 위한 자료구조 생성

In [8]:
import pandas as pd

In [9]:
date = ['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23']
date2 = ['17.02.29', '17.02.26', '17.02.25', '17.02.24', '17.02.23']

In [10]:
date_df = pd.DataFrame(date, columns=['date2'])
date_df2 = pd.DataFrame(date2, columns=['date23'])

In [11]:
final = pd.concat([date_df,date_df2], axis = 1)
final
# * zip 활용

      date2    date23
0  16.02.29  17.02.29
1  16.02.26  17.02.26
2  16.02.25  17.02.25
3  16.02.24  17.02.24
4  16.02.23  17.02.23

In [12]:
import pandas as pd

In [13]:
colList1 = ["한지원1", "한지원2", "한지원3"]
colList2 = [41, 10, 39]

In [14]:
df1 = pd.DataFrame( zip(colList1, colList2) )

In [15]:
df1

      0   1
0  한지원1  41
1  한지원2  10
2  한지원3  39

In [16]:
rowList1 = ["김효관", 41]
rowList2 = ["김어진", 10]
rowList3 = ["안민정", 39]

In [17]:
mergedList = [rowList1, rowList2, rowList3] # 2중 리스트 : 리스트 안에 리스트를 넣음

In [18]:
df2 = pd.DataFrame(mergedList)

In [19]:
df2

     0   1
0  김효관  41
1  김어진  10
2  안민정  39

In [20]:
df2.columns = ["컬럼1", "컬럼2"]
df2

   컬럼1  컬럼2
0  김효관   41
1  김어진   10
2  안민정   39

In [21]:
nameValue = "한지원"

In [22]:
pd.DataFrame([nameValue]) # pd.DataFrame(nameValue) 오류가 나기 때문에 리스트 안에 담아주어야 한다.

     0
0  한지원

# BeautifulSoup 활용 HTML 추출하기

In [24]:
# 라이브러리 선언 
# import requests, bs4

# 웹페이지 요청 (200 : 정상) 및 소스 가져오기
# resp = requests.get("url")
# html = resp.text

# 태그 정보를 정리된 형태로 추출
# bs = bs4.BeautifulSoup(webPageSrc,'html.parser')

In [23]:
import bs4, requests

In [24]:
targetUrl = "https://sparkkorea.com/%ED%80%B4%EC%A6%88/"

In [25]:
try :
    resp = requests.get(targetUrl) # 암기
except Exception as e:
    print(e)

In [26]:
resp # 웹 페이지에 요청을 보냈을 때 응답으로 200이 나오면 정상적인 웹 페이지다.

In [27]:
webPageSrc = resp.text # 지저분하기 때문에 변수에 넣어준다.

In [28]:
htmlObj = bs4.BeautifulSoup(webPageSrc, "html.parser") # webPageSrc를 html을 추출하면 정리된 형태로 확인할 수 있다.

# 태그정보 수집하기

In [ ]:
# <div> aaa </div> 안의 자료들을 수집할 수 있다.

In [ ]:
# 태그 찾기 (맨 앞 한 개)
# bs.find(name="태그명")
# 태그 찾기 (전체)
# bs.findAll(name="태그명")

In [29]:
div = htmlObj.find(name="div") # div의 첫 번째 값을 리턴한다. 딱 하나의 값.

In [30]:
divs = htmlObj.findAll(name="div") # ★ 리스트는 아니지만 리스트의 형태로 인덱스를 이용할 수 있다

In [31]:
aTagFirst = htmlObj.find(name="a")
aTagFirst

In [32]:
# aTagFirst의 사이사이에 있는 값들을 추출하고 싶다면 텍스트로 추출할 수 있다.
aTagFirst.text

'컨텐츠로 건너뛰기'

In [33]:
# aTagFirst 안의 속성(class, href)에 접근하고 싶다면 / attrs(attribute) 속성값을 가져올 수 있다.
aTagFirst.attrs["href"]

'#content'

In [34]:
aTags=htmlObj.findAll(name="a")

In [35]:
aTags[0].attrs["href"]

'#content'

In [36]:
import pandas as pd

In [37]:
linkList = []

In [38]:
for i in range(0, len(aTags)):
    try : # href 속성이 없는 값이 있을 수 있기 때문에 있는 것만 다 수집하겠다.
        linkList.append (  aTags[i].attrs["href"] )
    except Exception as e :
        print (e)

'href'

In [39]:
linkList # 웬만한 링크들은 다 수집이 되었다.

['#content',
 'https://sparkkorea.com/',
 'https://sparkkorea.com/%ec%9e%90%eb%a3%8c%ec%8b%a4/',
 'https://sparkkorea.com/%ed%80%b4%ec%a6%88/',
 'https://sparkkorea.com/%ec%84%a4%eb%ac%b8-2/',
 'https://sparkkorea.com/%ed%85%8c%ec%8a%a4%ed%8a%b8/',
 'https://sparkkorea.com/%ec%84%a4%eb%ac%b8/',
 '#',
 'https://forms.gle/Fw49w9GhWQChDcZm7',
 'https://forms.gle/G4TcXm3fKuHLHA6D6',
 'https://forms.gle/M8gr1kC2ubA3UDVp8',
 'https://forms.gle/h8w5mZ4MNaPLCPbi6',
 'https://forms.gle/q5yL6QHfueDLM5w27',
 'https://forms.gle/Gxb4y6LfVYiaLu4M7',
 'https://sparkkorea.com/%ed%80%b4%ec%a6%88/?share=twitter',
 'https://sparkkorea.com/%ed%80%b4%ec%a6%88/?share=facebook',
 'https://wordpress.com/?ref=footer_segment_business',
 'https://sparkkorea.com',
 'https://sparkkorea.wordpress.com/wp-admin/customize.php?url=https%3A%2F%2Fsparkkorea.wordpress.com%2F%25ED%2580%25B4%25EC%25A6%2588%2F',
 'https://wordpress.com/start/',
 'https://wordpress.com/log-in?redirect_to=https%3A%2F%2Fr-login.wordpress.com%2Fremote-login.php%3Faction%3Dlink%26back%3Dhttps%253A%252F%252Fsparkkorea.com%252F%2525ed%252580%2525b4%2525ec%2525a6%252588%252F',
 'https://wp.me/Pb5P34-1E',
 'http://en.wordpress.com/abuse/',
 'https://subscribe.wordpress.com/']

In [40]:
pd.DataFrame(linkList) # 수집된 링크를  pandas로 말아주기

                                                    0
0                                            #content
1                             https://sparkkorea.com/
2   https://sparkkorea.com/%ec%9e%90%eb%a3%8c%ec%8...
3          https://sparkkorea.com/%ed%80%b4%ec%a6%88/
4        https://sparkkorea.com/%ec%84%a4%eb%ac%b8-2/
5   https://sparkkorea.com/%ed%85%8c%ec%8a%a4%ed%8...
6          https://sparkkorea.com/%ec%84%a4%eb%ac%b8/
7                                                   #
8                 https://forms.gle/Fw49w9GhWQChDcZm7
9                 https://forms.gle/G4TcXm3fKuHLHA6D6
10                https://forms.gle/M8gr1kC2ubA3UDVp8
11                https://forms.gle/h8w5mZ4MNaPLCPbi6
12                https://forms.gle/q5yL6QHfueDLM5w27
13                https://forms.gle/Gxb4y6LfVYiaLu4M7
14  https://sparkkorea.com/%ed%80%b4%ec%a6%88/?sha...
15  https://sparkkorea.com/%ed%80%b4%ec%a6%88/?sha...
16  https://wordpress.com/?ref=footer_segment_busi...
17                             https://sparkkorea.com
18  https://sparkkorea.wordpress.com/wp-admin/cust...
19                       https://wordpress.com/start/
20  https://wordpress.com/log-in?redirect_to=https...
21                            https://wp.me/Pb5P34-1E
22                     http://en.wordpress.com/abuse/
23                   https://subscribe.wordpress.com/

## 속성값을 활용해서 태그 정보를 수집하기

In [ ]:
# 추출하고 싶은 특정 속성값이 있다면 div가 품고있는 id를 이용한다.
# id가 다르다는 차별성

In [ ]:
# 딕셔너리 { key : value }
# 딕셔너리 선언 예시
# seasonDict = {"1" : 1.5 ,  1주차의 판매량
#              "2" :  0.8 }  2주차의 판매량
# testDict = {"address" : "seoul" ,
#             "name" : "haiteam" }
# 딕셔너리 호출 예시 
# seasonDict["1"] -> 1.5 반환 
# testDict["address"] -> 'seoul' 반환

In [ ]:
# ★ find를 통해서 범위를 점점 좁혀가는 것이 포인트
# find를 진행한 후에  find -> find -> find all 가능
# find all을 진행한 후에 find 진행 불가

In [41]:
targetDiv = htmlObj.find(name="div", attrs= {"id" : "id_spark_quiz" } )
# key가 id 이고 value가 id_spark_quiz인 속성값을 찾자!
# find를 통해서 원하는 데이터를 전부 묶고 있는 태그를 검색한다.

In [42]:
aLinks = targetDiv.findAll(name="a")  # find를 진행한 후에  find -> find -> find all 가능
                                     # cf ) 하지만 find all을 진행한 후에 find 진행 불가 (리스트 형태에서 find하는 건 어렵지 않을까?)
                                     # 링크 주소와 퀴즈의 타이틀을 추출했다 
                                     # 그리고 aLink라는 변수에 담아준다

In [43]:
pd.DataFrame(aLinks)

                           0
0           6/13 Spark 심화과정
1           6/13 Spark 기본과정
2   6/18 Spark [MAP_FILTER]
3     6/18 Spark GroupBy 심화
4      6/25 Spark RDD 실전 분석
5     6/27 Spark RDD 실전 분석2

In [ ]:
# 아래와 같이 하나씩 찾아가는 과정을 거치면 된다.

In [44]:
quizName = aLinks[0].text # aLinks의 텍스트를 가져올 수 있다 
quizName

' 6/13 Spark 심화과정 '

In [45]:
quizLink = aLinks[0].attrs["href"] # aLinks의 href속성 값을 가져올 수 있다 
quizLink

'https://forms.gle/Fw49w9GhWQChDcZm7'

In [46]:
aLinks[0].name # 태그 이름도 알 수 있다.

'a'

In [ ]:
# 퀴즈 이름을 전부 다 수집한다면

In [47]:
aLinksLen = len(aLinks) 
nameList = [] # 내가 수집할 리스트를 선언해준다.
linkList = []

In [48]:
for i in range (0, aLinksLen) :
    # 퀴즈 이름 및 링크 정보 수정
    quizName = aLinks[i].text
    quizLink = aLinks[i].attrs["href"]
    # 리스트에 수집할 값 append 
    nameList.append(quizName)
    linkList.append(quizLink)

In [49]:
result = pd.DataFrame( zip (nameList , linkList ), columns = ["퀴즈이름", "퀴즈링크"] )

In [50]:
result

                        퀴즈이름                                 퀴즈링크
0           6/13 Spark 심화과정   https://forms.gle/Fw49w9GhWQChDcZm7
1           6/13 Spark 기본과정   https://forms.gle/G4TcXm3fKuHLHA6D6
2   6/18 Spark [MAP_FILTER]   https://forms.gle/M8gr1kC2ubA3UDVp8
3     6/18 Spark GroupBy 심화   https://forms.gle/h8w5mZ4MNaPLCPbi6
4      6/25 Spark RDD 실전 분석   https://forms.gle/q5yL6QHfueDLM5w27
5     6/27 Spark RDD 실전 분석2   https://forms.gle/Gxb4y6LfVYiaLu4M7

In [51]:
aLinksLen = len(aLinks) 
rowList = [] # rowList를 담을 리스트를 선언

In [52]:
for i in range(0, len(aLinks)):
    eachAtag = aLinks[i]
    
    quizName = eachAtag.text
    linkName = eachAtag.attrs["href"]
    
    rowList.append ( [quizName, linkName] ) # 한 줄씩 집어넣는 행위. 이중for문에서 바깥 for문 역할.

In [53]:
rowList # 리스트 하나에 하나의 행이 들어간다

[[' 6/13 Spark 심화과정 ', 'https://forms.gle/Fw49w9GhWQChDcZm7'],
 [' 6/13 Spark 기본과정 ', 'https://forms.gle/G4TcXm3fKuHLHA6D6'],
 [' 6/18 Spark [MAP_FILTER] ', 'https://forms.gle/M8gr1kC2ubA3UDVp8'],
 [' 6/18 Spark GroupBy 심화 ', 'https://forms.gle/h8w5mZ4MNaPLCPbi6'],
 [' 6/25 Spark RDD 실전 분석 ', 'https://forms.gle/q5yL6QHfueDLM5w27'],
 [' 6/27 Spark RDD 실전 분석2 ', 'https://forms.gle/Gxb4y6LfVYiaLu4M7']]

In [54]:
resultDf = pd.DataFrame(rowList)
resultDf

                           0                                    1
0           6/13 Spark 심화과정   https://forms.gle/Fw49w9GhWQChDcZm7
1           6/13 Spark 기본과정   https://forms.gle/G4TcXm3fKuHLHA6D6
2   6/18 Spark [MAP_FILTER]   https://forms.gle/M8gr1kC2ubA3UDVp8
3     6/18 Spark GroupBy 심화   https://forms.gle/h8w5mZ4MNaPLCPbi6
4      6/25 Spark RDD 실전 분석   https://forms.gle/q5yL6QHfueDLM5w27
5     6/27 Spark RDD 실전 분석2   https://forms.gle/Gxb4y6LfVYiaLu4M7

In [62]:
resultDf.columns = ["퀴즈제목", "퀴즈링크"]

In [64]:
resultDf

                        퀴즈제목                                 퀴즈링크
0           6/13 Spark 심화과정   https://forms.gle/Fw49w9GhWQChDcZm7
1           6/13 Spark 기본과정   https://forms.gle/G4TcXm3fKuHLHA6D6
2   6/18 Spark [MAP_FILTER]   https://forms.gle/M8gr1kC2ubA3UDVp8
3     6/18 Spark GroupBy 심화   https://forms.gle/h8w5mZ4MNaPLCPbi6
4      6/25 Spark RDD 실전 분석   https://forms.gle/q5yL6QHfueDLM5w27
5     6/27 Spark RDD 실전 분석2   https://forms.gle/Gxb4y6LfVYiaLu4M7

In [65]:
resultDf.to_csv("./result.csv",index=False,encoding="ms949")
# resultDf를 csv에게 전달하겠다. result.csv라는 파일 이름으로. encoding은 ms949로 현재 폴더에 저장이 된다.

In [ ]:
# column단위로 수집하는 것의 단점은 zip할 때 각각 가진 속성값이 달라 잘못된 데이터가 수집될 수 있다.
# row단위로 수집을 하게 되면 try, except로 잘못된 데이터를 날릴 수 있기 때문에 권장한다.