In [1]:
def theDayBefore(inputDate, days):
    """
    입력한 날짜로부터 일수만큼 이전 날짜를 반환하는 함수
    parameter : inputDate-YYYYMMDD(int/str) days-일수(int/str)
    return : input 날짜로부터 일수(days)만큼 이전 날짜(str)
    """
    
    inputDate = str(inputDate)
    days = int(days)
    inputYear = inputDate[:4]
    inputMonth = inputDate[4:6]
    inputDay = inputDate[6:]
    
    # 1~9일의 정확한 비교를 위해 0을 제거
    if inputMonth < '10':
         inputMonth = inputMonth[1:]

    if inputDay < '10':
         inputDay = inputDay[1:]
    
    for i in range(days):

        # 이전 날짜 계산
        if inputDay == '1':  # 달이 바뀌는 경우
            if inputMonth == '1':  # 달과 연도가 모두 바뀌는 경우 (1월 1일) -> 연도도 마이너스, 월도 12월로 세팅
                inputYear = str(int(inputYear) - 1)
                inputMonth = '12'
                monthDays = 31
            else: # 달이 변경, 연도는 그대로 (1월을 제외한 n월 1일) -> 월을 마이너스하고, 해당 월에 맞춰 일자 세팅
                inputMonth = str(int(inputMonth) - 1)
                if (inputMonth=='4'or inputMonth=='6'or inputMonth=='9'or inputMonth=='11'):
                    monthDays = 30
                elif inputMonth=='2' :
                    if int(inputYear) % 4 == 0 and int(inputYear) % 100 != 0 or int(inputYear) % 400 == 0:
                        monthDays = 29  # 윤년인 경우 29일
                    else:
                        monthDays = 28  # 평년인 경우 28일 
                else :
                    monthDays = 31
            inputDay = str(monthDays)
        else:  # 달이 바뀌지 않는 경우 -> 일자만 마이너스
            inputDay = str(int(inputDay) - 1)
    
    # 반복 끝나고 나면, inputMonth와 inputDay에 다시 0을 붙여주기
    if int(inputMonth) < 10 :
        inputMonth = '0' + str(inputMonth)

    if int(inputDay) < 10 :
        inputDay = '0' + str(inputDay)

    return str(inputYear + inputMonth + inputDay)

In [2]:
theDayBefore("20230320", 1)

'20230319'

In [3]:
theDayBefore(20230301, "1")

'20230228'

In [4]:
theDayBefore(20230101, 1)

'20221231'

In [5]:
theDayBefore(20000303, 600)

'19980712'

# 과정

In [6]:
# step 0. 입력받은 날짜를 분리
# 인덱스를 사용할 것이기 때문에 str 캐스팅

# step 1. 1~9일의 정확한 비교를 위해 0을 제거해주기 (추후 붙일 것도 생각) 

# step 2. 해당 월 일수 계산
# case 1) 2월 - 28일, 29일(윤년) (+) 윤년 조건 : int(inputYear) % 4 == 0 and int(inputYear) % 100 != 0 or int(inputYear) % 400 == 0
# case 2) 4, 6, 9, 11월 - 30일
# case 3) 나머지 - 31일 

# step 3. 이전 날짜 계산
# case 1-1) 달이 바뀌는 경우, 연도도 바뀌는 경우 (1월 1일) -> 연도도 마이너스, 월도 12월로 세팅
# case 1-2) 달이 바뀌는데, 연도는 안 바뀌는 경우 (1월을 제외한 n월 1일) -> 월을 마이너스하고, 일을 해당 월에 맞춰 세팅해야 함
# case 1-2-1 ) 2월 - 28일, 29일(윤년)
# case 1-2-2 ) 4, 6, 9, 11월 - 30일
# case 1-2-3 ) 나머지 - 31일
# case 2) 달이 바뀌지 않는 경우 -> 일만 마이너스

# step 4. days만큼 반복

# step 5. 반복 끝나고 나면, inputMonth와 inputDay에 다시 0을 붙여주기

# step 6. 합쳐서 반환

In [7]:
    # 해당 월 일수 계산
#    if inputMonth == '2': 
#        if int(inputYear) % 4 == 0 and int(inputYear) % 100 != 0 or int(inputYear) % 400 == 0:
#            monthDays = 29  
#        else:
#            monthDays = 28 
#    elif (inputMonth=='4'or inputMonth=='6'or inputMonth=='9'or inputMonth=='11'):
#        monthDays = 30
#    else: 
#        monthDays = 31

# 디버깅 (theDayBefore(20230320, 1))

In [8]:
# 달이 바뀌지 않는 경우 -> 일만 마이너스. 테스트 디버깅

In [9]:
theDayBefore(20230320, 1)

'20230319'

In [10]:
inputDate = str(20230320)
inputDate

'20230320'

In [11]:
inputYear = inputDate[:4]
inputMonth = inputDate[4:6]
inputDay = inputDate[6:]
print(inputYear)
print(inputMonth)
print(inputDay)

2023
03
20

In [12]:
if inputMonth < '10':
    inputMonth = inputMonth[1:]

In [13]:
inputMonth

'3'

In [14]:
if inputDay < '10':
    inputDay = inputDay[1:]

In [15]:
inputDay

'20'

In [16]:
#    for i in range(days):
# days = 0

if inputMonth == '2': 
    if int(inputYear) % 4 == 0 and int(inputYear) % 100 != 0 or int(inputYear) % 400 == 0:
        monthDays = 29 
    else:
        monthDays = 28 
elif (inputMonth=='4'or inputMonth=='6'or inputMonth=='9'or inputMonth=='11'):
    monthDays = 30
else: 
    monthDays = 31

In [17]:
print(inputYear)
print(inputMonth)
print(inputDay)
print(monthDays)

2023
3
20
31

In [18]:
if inputDay == '1':  
    if inputMonth == '1': 
        inputYear = str(int(inputYear) - 1)
        inputMonth = '12'
    else: 
        inputMonth = str(int(inputMonth) - 1)
        if (inputMonth=='4'or inputMonth=='6'or inputMonth=='9'or inputMonth=='11'):
            monthDays = 30
        elif inputMonth=='2' :
            if int(inputYear) % 4 == 0 and int(inputYear) % 100 != 0 or int(inputYear) % 400 == 0:
                monthDays = 29 
            else:
                monthDays = 28 
        else :
            monthDays = 31 
    inputDay = str(monthDays)
else:  # 여기!! 이전 날짜가 이전 달로 넘어가지 않을 경우
    inputDay = str(int(inputDay) - 1)

In [19]:
print(inputYear)
print(inputMonth)
print(inputDay)
print(monthDays)

2023
3
19
31

In [20]:
if int(inputMonth) < 10 :
    inputMonth = '0' + str(inputMonth)

inputMonth

'03'

In [21]:
if int(inputDay) < 10 :
    inputDay = '0' + str(inputDay)

In [22]:
inputDay

'19'

In [23]:
print(inputYear)
print(inputMonth)
print(inputDay)
print(monthDays)

2023
03
19
31

In [24]:
int(inputYear + inputMonth + inputDay)

20230319

# 디버깅 (theDayBefore(20230301, 1))

In [25]:
# 월 변경 O, 연도 변경 X인 날짜 테스트 디버깅

In [26]:
theDayBefore(20230301, 1)

'20230228'

In [27]:
inputDate = str(20230301)
inputYear = inputDate[:4]
inputMonth = inputDate[4:6]
inputDay = inputDate[6:]

In [28]:
print(inputYear)
print(inputMonth)
print(inputDay)

2023
03
01

In [29]:
# 1~9일의 정확한 비교를 위해 0을 제거
if inputMonth < '10':
     inputMonth = inputMonth[1:]

if inputDay < '10':
     inputDay = inputDay[1:]

In [30]:
print(inputYear)
print(inputMonth)
print(inputDay)

2023
3
1

In [31]:
if inputMonth == '2': 
    if int(inputYear) % 4 == 0 and int(inputYear) % 100 != 0 or int(inputYear) % 400 == 0:
        monthDays = 29 
    else:
        monthDays = 28 
elif (inputMonth=='4'or inputMonth=='6'or inputMonth=='9'or inputMonth=='11'):
    monthDays = 30
else: 
    monthDays = 31

In [32]:
print(inputYear)
print(inputMonth)
print(inputDay)
print(monthDays)

2023
3
1
31

In [33]:
if inputDay == '1':  
    if inputMonth == '1': 
        inputYear = str(int(inputYear) - 1)
        inputMonth = '12'
    else: # 여기!! 달이 변경, 연도는 그대로 (1월을 제외한 n월 1일) -> 월을 마이너스하고, 해당 월에 맞춰 일자 세팅
        inputMonth = str(int(inputMonth) - 1)
        if (inputMonth=='4'or inputMonth=='6'or inputMonth=='9'or inputMonth=='11'):
            monthDays = 30
        elif inputMonth=='2' :
            if int(inputYear) % 4 == 0 and int(inputYear) % 100 != 0 or int(inputYear) % 400 == 0:
                monthDays = 29  
            else:
                monthDays = 28  
        else :
            monthDays = 31
    inputDay = str(monthDays)
else: 
    inputDay = str(int(inputDay) - 1)

In [34]:
print(inputYear)
print(inputMonth)
print(inputDay)
print(monthDays)

2023
2
28
28

In [35]:
if int(inputMonth) < 10 :
    inputMonth = '0' + str(inputMonth)

In [36]:
if int(inputDay) < 10 :
    inputDay = '0' + str(inputDay)

In [37]:
print(inputYear)
print(inputMonth)
print(inputDay)
print(monthDays)

2023
02
28
28

In [38]:
int(inputYear + inputMonth + inputDay) # 잘 넘어갔다!

20230228

# 디버깅 (theDayBefore(20230101, 1))

In [39]:
# 월 변경 O, 연도 변경 O인 날짜 테스트 디버깅

In [40]:
theDayBefore(20230101, 1)

'20221231'

In [41]:
inputDate = str(20230101)
inputYear = inputDate[:4]
inputMonth = inputDate[4:6]
inputDay = inputDate[6:]

In [42]:
print(inputYear)
print(inputMonth)
print(inputDay)

2023
01
01

In [43]:
# 1~9일의 정확한 비교를 위해 0을 제거
if inputMonth < '10':
     inputMonth = inputMonth[1:]

if inputDay < '10':
     inputDay = inputDay[1:]

In [44]:
print(inputYear)
print(inputMonth)
print(inputDay)

2023
1
1

In [45]:
if inputMonth == '2': 
    if int(inputYear) % 4 == 0 and int(inputYear) % 100 != 0 or int(inputYear) % 400 == 0:
        monthDays = 29 
    else:
        monthDays = 28 
elif (inputMonth=='4'or inputMonth=='6'or inputMonth=='9'or inputMonth=='11'):
    monthDays = 30
else: 
    monthDays = 31

In [46]:
print(inputYear)
print(inputMonth)
print(inputDay)
print(monthDays)

2023
1
1
31

In [47]:
if inputDay == '1':  
    if inputMonth == '1': # 여기!! 달과 연도가 모두 바뀌는 경우 (1월 1일) -> 연도도 마이너스, 월도 12월로 세팅
        inputYear = str(int(inputYear) - 1)
        inputMonth = '12'
    else: 
        inputMonth = str(int(inputMonth) - 1)
        if (inputMonth=='4'or inputMonth=='6'or inputMonth=='9'or inputMonth=='11'):
            monthDays = 30
        elif inputMonth=='2' :
            if int(inputYear) % 4 == 0 and int(inputYear) % 100 != 0 or int(inputYear) % 400 == 0:
                monthDays = 29  
            else:
                monthDays = 28  
        else :
            monthDays = 31
    inputDay = str(monthDays)
else: 
    inputDay = str(int(inputDay) - 1)

In [48]:
print(inputYear)
print(inputMonth)
print(inputDay)
print(monthDays)

2022
12
31
31

In [49]:
if int(inputMonth) < 10 :
    inputMonth = '0' + str(inputMonth)

In [50]:
if int(inputDay) < 10 :
    inputDay = '0' + str(inputDay)

In [51]:
print(inputYear)
print(inputMonth)
print(inputDay)
print(monthDays)

2022
12
31
31

In [52]:
int(inputYear + inputMonth + inputDay) # 잘 넘어갔다!

20221231