## 원하는 행 조회하기 (단순조회)

In [1]:
import pandas as pd

In [3]:
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

In [7]:
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [ ]:
# CUSTID : 고객번호. 
# AVGPRICE : 평균 구매가격
# EMI : 무이자할부 이용건수
# DEVICECOUNT : 상품 구매건수
# PRODUCTAGE : 평균 상품 지속년도
# CUSTTYPE : 고객 타입정보

In [10]:
customerData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CUSTID       150 non-null    object
 1   AVGPRICE     150 non-null    float64
 2   EMI          150 non-null    int64
 3   DEVICECOUNT  150 non-null    int64
 4   PRODUCTAGE   150 non-null    float64
 5   CUSTTYPE     150 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [5]:
emiCondition = 3 # info를 통해 int인 것을 확인
deviceCondition = 5 # info를 통해 int인 것을 확인

In [ ]:
# 데이터프레임명.loc [조건1 & 조건2]와 같이 조건을 설정하여 조회 가능하다.
# 조건이 2개 이상인 경우에는 각각의 조건을 묶어줘야 한다는 점을 유의해야한다.

In [11]:
# 조건 설정
# 무이자 할부 3건이면서 제품구매건수가 5번 이상인 데이터 조회
answer = customerData.loc [(customerData["EMI"]==emiCondition) & (customerData["DEVICECOUNT"] > deviceCondition) ]

In [15]:
customerData.shape

(150, 6)

In [13]:
answer.shape # 원 데이터는 150개의 행, 6개의 열로 구성되었었는데,
             # 행이 19개이고, 컬럼이 6개로 정리되었다.

(19, 6)

In [14]:
answer

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
27   F17131  3179.708359    3            6    1.100000        Early-bird
33   G16437  3787.328898    3            6    1.000000        Early-bird
36   G18402  3402.199381    3            6    1.000000        Early-bird
40   H16326  3988.935304    3            6    0.900000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
51   J10809  3676.135627    3            6    0.800000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
60   L13892  3263.515145    3            6    1.100000        Early-bird
67   N13273  3839.694732    3            6    1.100000        Early-bird
95   R16364  3592.353540    3            6    0.900000        Early-bird
107  S17396  3895.200000    3            6    2.055707  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
126  V18566  3527.701867    3            6    0.900000        Early-bird
130  W13404  4296.873743    3            6    1.100000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
142  Z11525  3259.018704    3            6    0.900000        Early-bird
146  Z13534  3662.437527    3            6    0.900000        Early-bird

In [ ]:
# 실수할 수 있는 포인트
# 비교시에는 형태가 일치해야 알맞은 정보를 추출할 수 있다.

In [18]:
# dtypes를 통해 타입들만 찍어볼 수 있다.
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [ ]:
# 타입을 바꿀 땐 .astype을 사용한다
# 데이터프레임명["컬럼명"] = 데이터프레임명["컬럼명"].astype(변경할 타입)
# 데이터프레임명 = 데이터프레임명.astype({"컬럼명":변경할 타입})

In [19]:
customerData["EMI"] = customerData["EMI"].astype(str)
# customerData.EMI = customerData["EMI"].astype(str)으로 바꿀 수 있지만 없는 컬럼을 생성할 경우에 오류 발생.

In [20]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI             object
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

In [23]:
customerData = customerData.astype({"EMI":int, "DEVICECOUNT":str } )

In [24]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int32
DEVICECOUNT     object
PRODUCTAGE     float64
CUSTTYPE        object
dtype: object

## 원하는 행 조회하기 (컬럼 내 다중 포함 값)

In [25]:
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

In [27]:
# 리스트를 이용하여 인덱스에 활용해 원하는 행을 조회할 수 있다. 
customerData.loc[ [2,3] ]

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE      CUSTTYPE
2  A15312  3653.884565    2            5    3.208202  Sleeping-dog
3  A16605  3713.211107    2            6    0.900000    Early-bird

In [28]:
# 2부터 전부 다 조회
customerData.loc[ 2 : ]

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
5    B16849  3755.263391    2            4    2.786665      Sleeping-dog
6    B18816  3213.911446    2            6    0.900000        Early-bird
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[148 rows x 6 columns]