# 05. 컬럼 간 연산하기

### 문자열 연산을 하고싶다면 '.str'을 써준다

### 타입을 변경해야한다면 '.astype(str)'을 써준다

In [1]:
import pandas as pd

In [3]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [7]:
customerData.dtypes

CUSTID          object
AVGPRICE       float64
EMI              int64
DEVICECOUNT      int64
PRODUCTAGE     float64
CUSTTYPE        object
NEW_COLUMN      object
dtype: object

In [ ]:
# EMI의 형태가 int이기 때문에 문자열 결합을 위해 임시 형변환
# customerData.CUSTID.str : 문자열 연산을 하겠다!
# customerData.CUSTID.str.replace("A", "AA") : 이런 것도 가능하다!

In [5]:
customerData["NEW_COLUMN"] = customerData.CUSTID.str[1:]+"_"+customerData.EMI.astype(str) #astype 안해주면 type error

In [6]:
customerData.head()

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,NEW_COLUMN
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,13566_3
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,14219_2
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,15312_2
3,A16605,3713.211107,2,6,0.900000,Early-bird,16605_2
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,10634_2

## 조회한 데이터 가져오기

In [10]:
customerList = ["A14219", "A13566"]

In [14]:
# customerData 안에 CUSTID 컬럼에 customerList가 있다면 조회하라!
customerData.loc[ customerData.CUSTID.isin(customerList) ]

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,NEW_COLUMN
0,A13566,4273.90000,3,6,1.679181,Big-Screen-lover,13566_3
1,A14219,3642.44195,2,4,2.682023,Sleeping-dog,14219_2

In [16]:
# customerData 안에 CUSTID 컬럼에 customerList가 있다면 조회하라! 그 중에서 customerList의 PRODUCTAGE를 깂을 변수 안에 넣고 싶다!
returnValue = customerData.loc[ customerData.CUSTID.isin(customerList), "PRODUCTAGE"].values
returnValue

array([1.67918085, 2.68202302])

In [18]:
# 배열에 담겨서 인덱스로 확인 가능
returnValue[0]

1.67918084803969

In [ ]:
# for문을 이용해서 값을 하나씩 꺼내오는 것도 가능