# 06. 데이터 정렬하기

In [1]:
# customerData.sort_values(by = [정렬컬럼], -> 정렬키 설정
#                          ascending = [정렬기준], -> 오름차순 or  내림차순
#                          ignore_index = False or True, -> True 선택 시, 인덱스 재정렬
#                          inplace = False or True) -> True 선택 시, 데이터프레임에 정렬된 내용을 바로 반영

In [2]:
import pandas as pd

In [3]:
customerData = pd.read_csv("../dataset/customerData.csv")

In [4]:
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1  A14219  3642.441950    2            4    2.682023      Sleeping-dog
2  A15312  3653.884565    2            5    3.208202      Sleeping-dog
3  A16605  3713.211107    2            6    0.900000        Early-bird
4  B10634  3391.074215    2            4    2.453656      Sleeping-dog

In [5]:
# 정렬키 선정
sortKey = ["AVGPRICE"]

In [6]:
customerData.sort_values(by = sortKey,
                         ascending = True,
                         ignore_index = False)

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
68   N14862  2390.083736    1            6    1.000000        Early-bird
131  W13995  2411.008838    2            6    1.000000        Early-bird
125  V16704  2605.631083    2            6    0.900000        Early-bird
58   K16632  2650.900000    2            4    2.233033  Big-Screen-lover
30   G11453  2744.815881    2            6    0.900000        Early-bird
..      ...          ...  ...          ...         ...               ...
25   F12979  4165.700000    2            6    2.128362  Big-Screen-lover
113  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
16   D17241  4166.533130    2            4    2.577757      Sleeping-dog
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
130  W13404  4296.873743    3            6    1.100000        Early-bird

[150 rows x 6 columns]

In [7]:
# ignore_index = True로 인덱스 재정렬
customerData.sort_values(by = sortKey,
                         ascending = True,
                         ignore_index = True)

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    N14862  2390.083736    1            6    1.000000        Early-bird
1    W13995  2411.008838    2            6    1.000000        Early-bird
2    V16704  2605.631083    2            6    0.900000        Early-bird
3    K16632  2650.900000    2            4    2.233033  Big-Screen-lover
4    G11453  2744.815881    2            6    0.900000        Early-bird
..      ...          ...  ...          ...         ...               ...
145  F12979  4165.700000    2            6    2.128362  Big-Screen-lover
146  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
147  D17241  4166.533130    2            4    2.577757      Sleeping-dog
148  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
149  W13404  4296.873743    3            6    1.100000        Early-bird

[150 rows x 6 columns]

In [8]:
sortedData = customerData.sort_values(by = sortKey,
                                      ascending = True,
                                      ignore_index = True) 
sortedData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    N14862  2390.083736    1            6    1.000000        Early-bird
1    W13995  2411.008838    2            6    1.000000        Early-bird
2    V16704  2605.631083    2            6    0.900000        Early-bird
3    K16632  2650.900000    2            4    2.233033  Big-Screen-lover
4    G11453  2744.815881    2            6    0.900000        Early-bird
..      ...          ...  ...          ...         ...               ...
145  F12979  4165.700000    2            6    2.128362  Big-Screen-lover
146  T11473  4165.700000    3            6    1.780674  Big-Screen-lover
147  D17241  4166.533130    2            4    2.577757      Sleeping-dog
148  A13566  4273.900000    3            6    1.679181  Big-Screen-lover
149  W13404  4296.873743    3            6    1.100000        Early-bird

[150 rows x 6 columns]