# 07. 데이터 그룹별 집계하기

### 컬럼 값 기준 데이터 정렬

In [1]:
# 데이터프레임명.groupby(by= [그룹키 컬럼] )
#              [집계대상 컬럼].
#              agg.([집계함수])

In [2]:
import pandas as pd

In [3]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [4]:
groupKey = ["EMI"]

In [5]:
customerData.groupby(by=groupKey)["AVGPRICE"].agg(["mean"]) 
# EMI별로 AVGPRICE를 보고싶다. 여기에 내가 적용할 함수는 mean(평균)이다.

            mean
EMI
1    3119.031810
2    3441.429664
3    3559.487188

In [6]:
customerData.groupby(by=groupKey)["AVGPRICE"].agg(["max"]) 
# EMI별로 AVGPRICE를 보고싶다. 여기에 내가 적용할 함수는 max(최대값)이다.

             max
EMI
1    3419.462596
2    4166.533130
3    4296.873743

In [7]:
customerData.groupby(by=groupKey)["AVGPRICE"].agg(["min"]) 
# EMI별로 AVGPRICE를 보고싶다. 여기에 내가 적용할 함수는 min(최소값)이다.

             min
EMI
1    2390.083736
2    2411.008838
3    2811.265932

In [8]:
# 이렇게 하게 되면, 그룹키가 인덱스 컬럼으로 설정이 된다.
# 인덱스를 리셋하여 인덱스를 재설정할 수 있다.

In [9]:
groupData = customerData.groupby(by=groupKey)["AVGPRICE"].agg(["max"]) # 데이터를 변수에 넣어주고,

In [10]:
groupData = groupData.reset_index() # 그룹키를 기존 컬럼에 맵핑 시킬 수 있다.

In [11]:
groupData

   EMI          max
0    1  3419.462596
1    2  4166.533130
2    3  4296.873743

In [12]:
# 기본적으로 Aggregate라는 함수인 max라는 값으로 컬럼명이 정해진다.
# 어떤 값에 대한 max인지 알기 어렵기 때문에 rename 해준다.

In [13]:
groupData.rename(columns = {"max" : "AVGPRICE_MAX"},
                 inplace = True)

In [14]:
groupData # 무이자할부 이용건수 별로 평균 구매가격의 최대값을 알 수 있다.

   EMI  AVGPRICE_MAX
0    1   3419.462596
1    2   4166.533130
2    3   4296.873743

# 자주 사용되는 집계함수

In [15]:
# count : 아이템 전체 개수
# first, last : 첫 번째 및 마지막 아이템
# mean, median : 평균값, 중간값
# min, max : 최소값, 최대값
# std, var : 표준편차 및 분산
# prod : 그룹데이터의 곱
# sum : 그룹데이터의 합
# quantile : 사분위수