### [데이터타입 통합]
kopo_channel_seasonality_new.csv 파일을 불러온 후
selloutData 변수에 담으세요 이후
QTY컬럼→실수(float), 이외컬럼→문자(str)로 변경하세요

In [1]:
import pandas as pd

In [2]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [3]:
selloutData

       REGIONID    PRODUCT  YEARWEEK      QTY
0           A60   PRODUCT4    201402     71.0
1           A60  PRODUCT59    201402  22275.0
2           A60  PRODUCT34    201402   4463.0
3           A60  PRODUCT47    201402      0.0
4           A60  PRODUCT56    201402     23.0
...         ...        ...       ...      ...
124653      A10  PRODUCT60    201630    824.0
124654      A10  PRODUCT56    201630    275.0
124655      A10  PRODUCT61    201630      0.0
124656      A10  PRODUCT12    201630  15021.0
124657      A10   PRODUCT1    201630    568.0

[124658 rows x 4 columns]

In [4]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [5]:
Columns = list(selloutData.columns)

In [6]:
for i in range(0, len(Columns)):
    try :
        selloutData[Columns[i]] = selloutData[ Columns[i] ].astype(str)
    except Exception as e :
        print(e)

In [7]:
selloutData.dtypes

REGIONID    object
PRODUCT     object
YEARWEEK    object
QTY         object
dtype: object

In [8]:
selloutData["QTY"] = selloutData.QTY.astype(float)

In [9]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object